<p-sidebar [(visible)]="sidebar.sidebar" [baseZIndex]="10000">
    <!-- <ul class="layout-menu" role="menu">
        <li class="layout-menuitem-category" *ngFor="let item of model; let i = index;" [tabIndex]=i role="none">
            <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{item.label}}</div>
            <ul role="menu">
                <li *ngFor="let child of item.items" role="none">
                    <i [class]=child.icon></i> {{child.label}}
                </li>
            </ul>
        </li>
    </ul> -->

    <ul>

        <h2>
            <mat-icon>homes</mat-icon> Dashboard

        </h2>
    </ul>
    <!-- <ul *ngIf="user.role === 'admin'"> -->
    <ul *ngIf="this.stateService.getState().userType==='teacher'">

        <li>
            <button routerLink="teacher/cal" pButton type="button" icon="fa-regular fa-house" label="Calendar" class="p-button-sm p-button-text ">
        <mat-icon>calendar_month</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink="teacher/list-quizzes" pButton type="button " label="quizzes " class="p-button-sm p-button-text ">
        <mat-icon>quizzes</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink="teacher/home-work" pButton type="button " label="Homework " class="p-button-sm p-button-text ">
        <mat-icon>tasks</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Grades" class="p-button-sm p-button-text ">
        <mat-icon>grades</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink="messages" pButton type="button " label="Messages " class="p-button-sm p-button-text ">
        <mat-icon>messages</mat-icon>
      </button>
        </li>
    </ul>
    <br>
    <ul *ngIf="this.stateService.getState().userType==='student'">
        <li>
            <button routerLink="cal" pButton type="button" icon="fa-regular fa-house" label="Meeting" class="p-button-sm p-button-text "><mat-icon>calendar_month</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Solve-quizzes " class="p-button-sm p-button-text ">
        <mat-icon>quizzes</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Solve-Homework " class="p-button-sm p-button-text ">
        <mat-icon>tasks</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Your-Grades" class="p-button-sm p-button-text ">
        <mat-icon>grades</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Messages " class="p-button-sm p-button-text ">
        <mat-icon>messages</mat-icon>
      </button>
        </li>
    </ul>

    <ul *ngIf="this.stateService.getState().userType==='admin'">
        <li>
            <button routerLink="cal" pButton type="button" icon="fa-regular fa-house" label="Register-User" class="p-button-sm p-button-text ">
        <mat-icon>app_registration</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="add grades" class="p-button-sm p-button-text ">
        <mat-icon>grades</mat-icon>
      </button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="add user " class="p-button-sm p-button-text ">
        <mat-icon>group_add</mat-icon>
      </button>
        </li>
    </ul>


</p-sidebar>
