<p-sidebar [(visible)]="sidebar.sidebar" [baseZIndex]="10000">
    <!-- <ul class="layout-menu" role="menu">
        <li class="layout-menuitem-category" *ngFor="let item of model; let i = index;" [tabIndex]=i role="none">
            <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">{{item.label}}</div>
            <ul role="menu">
                <li *ngFor="let child of item.items" role="none">
                    <i [class]=child.icon></i> {{child.label}}
                </li>
            </ul>
        </li>
    </ul> -->

    <ul>
        <li>

            <h2>
                <mat-icon>homes</mat-icon> Dashboard

            </h2>

        </li>
        <li>
            <button routerLink="cal" pButton type="button" icon="fa-regular fa-house" label="Calendar" class="p-button-sm p-button-text "> <mat-icon>calendar-months</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="quizzes " class="p-button-sm p-button-text "> <mat-icon>quizzes</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Homework " class="p-button-sm p-button-text "> <mat-icon>tasks</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Grades" class="p-button-sm p-button-text "> <mat-icon>grades</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Messages " class="p-button-sm p-button-text ">  <mat-icon>messages</mat-icon></button>
        </li>
    </ul>
    <br>
    <ul>
        <li>
            <button routerLink="cal" pButton type="button" icon="fa-regular fa-house" label="Meeting" class="p-button-sm p-button-text "></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Solve-quizzes " class="p-button-sm p-button-text "> <mat-icon>quizzes</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Solve-Homework " class="p-button-sm p-button-text "><mat-icon>tasks</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Your-Grades" class="p-button-sm p-button-text "><mat-icon>grades</mat-icon></button>
        </li>
        <br>
        <li>
            <button routerLink=" " pButton type="button " label="Messages " class="p-button-sm p-button-text "><mat-icon>messages</mat-icon> </button>
        </li>
    </ul>

</p-sidebar>
