<div class="container mt-2 border-2 border-round-3xl">
  <div class="d-flex justify-content-end">
    <button pButton pRipple type="button" icon="pi pi-plus" label="Add new meeting"
            class="align-self-end p-button-sm p-button-rounded my-2"  routerLink="/create-meeting">
    </button>
  </div>
  <div *ngIf="todayEventsArray?.length !== 0" class="d-flex flex-wrap mt-3 mb-2 gap-1">
    <app-current-events class="cv " *ngFor="let event of todayEventsArray" [event]="event"></app-current-events>
  </div>
  <div *ngIf="todayEventsArray?.length === 0" class="alert alert-info text-center font-bold my-2" role="alert">
    No classes today, Enjoy the free day
  </div>
  <app-upcoming-events [events]="dateEventsArray" class="uv col-6"></app-upcoming-events>
</div>
