<p-card class="cv" [header]="event.name" [subheader]="event.class.name" [style]="{width: '360px'}"
        styleClass="p-card-shadow">
  <ng-template pTemplate="header">

  </ng-template>
  <div class="d-flex justify-content-around">
    <p> <i class="pi pi-calendar-minus"></i> period: {{event.period}}</p>
  </div>
  <ng-template pTemplate="footer">
    <a [href]="event.link">go to the meeting</a>
    <p *ngIf="stateService.getState().userType != 'teacher'">created by: {{event.teacher.user.name}}</p>
  </ng-template>
</p-card>
