<!-- profile section  -->


<!-- announcement section -->
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
</form>
<!--slider section-->
<ng-image-slider [images]="imageObject" #nav></ng-image-slider>

<!--gallery events-->
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>


<!--calendar-->
<mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p>
