<p-toast></p-toast>
<div class="container">
  <p class="h3">Courses</p>

  <p-dialog header="add course" [(visible)]="displayCreateModel" [modal]="true" [draggable]="false">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-desktop"></i></span>
        <input #name type="text" pInputText placeholder="name">
      </div>
      <p-message severity="error" text="name can't be empty" *ngIf="name.value === '' && invalid"></p-message>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-plus-circle" (click)="createCourse(name.value)" label="Add" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="add new" icon="pi pi-plus-circle" class="p-button p-button-sm p-badge-secondary"
              (click)="openCreateDialog()" ></button>
      <button pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-sm mx-2"
              (click)="deleteSelectedCourses()" [disabled]="!selectedCourses || !selectedCourses.length"></button>
    </ng-template>
    <ng-template pTemplate="right">
      <input pInputText type="text" (input)="applyFilterNameGlobal($event, 'contains')"
             placeholder="filter class name"/>
    </ng-template>
  </p-toolbar>

  <!--
      TODO: multi-delete from db
  -->
  <p-table #dt [value]="_courses" dataKey="id" editMode="row" responsiveLayout="scroll" [globalFilterFields]="['name']"
           styleClass="p-datatable-striped"
           [(selection)]="selectedCourses" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="createdAt">
          <div class="flex justify-content-between align-items-center">
            Created At
            <p-sortIcon field="createdAt"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="updatedAt">
          <div class="flex justify-content-between align-items-center">
            Updated At
            <p-sortIcon field="updatedAt"></p-sortIcon>
          </div>
        </th>
        <th style="width:8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-_course let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="_course">
        <td>
          <p-tableCheckbox [value]="_course"></p-tableCheckbox>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="_course.name">
            </ng-template>
            <ng-template pTemplate="output">
              {{_course.name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{_course.createdAt | date: 'medium'}}
        </td>
        <td>
          {{_course.updatedAt | date: 'medium'}}
        </td>
        <td style="text-align:center">
          <div class="d-flex">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(_course)" class="p-button-rounded p-button-text"></button>

            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow label="save"
                    (click)="onRowEditSave(_course)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow label="cancel"
                    (click)="onRowEditCancel(_course, ri)" class="p-button-rounded p-button-text p-button-danger"></button>

            <button pButton pRipple type="button" icon="pi pi-times"
                    (click)="delete(_course)" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{_courses ? _courses.length : 0 }} courses.
      </div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog></p-confirmDialog>
