<div class="container">
  <p-toast></p-toast>
  <div class="messages-container" #message_container >
    <div class="message-card" *ngFor="let message of messages" >
      <div class="card-container">
        <div class="my-message" *ngIf="message.senderId === myId">
          <div *ngIf="message.senderId === myId">
            <mat-card>
              <mat-card-title-group>
                <mat-card-title>{{message.sender.name}}</mat-card-title>
                <mat-card-subtitle> {{message.createdAt | date:"short" }}</mat-card-subtitle>
              </mat-card-title-group>
              <mat-card-content>
                <p class="my-message">
                  {{message.message}}
                </p>
              </mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>

      <div class="card-container">
        <div class="other-message" *ngIf="message.senderId != myId">
          <div *ngIf="message.senderId != myId">
            <mat-card>
              <mat-card-title-group>
                <mat-card-title>{{message.sender.name}}</mat-card-title>
                <mat-card-subtitle> {{message.createdAt | date:"short" }}</mat-card-subtitle>
              </mat-card-title-group>
              <mat-card-content>
                <p class="other-message">
                  {{message.message}}
                </p>

              </mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="messages-sender">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Send a message" [(ngModel)]="newMessage">
        <button type="button" pButton pRipple icon="pi pi-send" styleClass="p-button-primary"
                (click)="sendMessage()"></button>
      </div>
    </div>
  </div>

</div>

