<div class="wrapper">
<!--  <mat-form-field appearance="standard">-->
<!--    <mat-label>Filter</mat-label>-->
<!--    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>-->
<!--  </mat-form-field>-->
  <p-dropdown [options]="classes" [(ngModel)]="selectedClass" optionLabel="name" optionValue="name"
              placeholder="class" name="classId"  #classId="ngModel" [required]="true" (onChange)="applyFilter($event)" ></p-dropdown>
    <table mat-table [dataSource]="mySource">

      <tr>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      </tr>


      <!-- Name of class -->
      <ng-template [ngIf]="stateService.getState().userType==='teacher'">

      <tr>
        <ng-container matColumnDef="studentName">
          <th mat-header-cell *matHeaderCellDef> Student Name</th>
          <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
        </ng-container>
      </tr>

      <!-- Name of Student -->
      <tr>
        <ng-container matColumnDef="parentName">
          <th mat-header-cell *matHeaderCellDef> Parent Name</th>
          <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
        </ng-container>
      </tr>

      <tr>
        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef> class name</th>
          <td mat-cell *matCellDef="let element"> {{element.className}} </td>
        </ng-container>
      </tr>

      <!-- Name of Parent -->
      <tr>
        <ng-container matColumnDef="contactStudent">
          <th mat-header-cell *matHeaderCellDef> Contact Student</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="openSendMsgDialogWithStudent(element)" class="btn btn-primary">Contact</button>
          </td>
        </ng-container>
      </tr>

      <!-- Message sent -->
      <tr>
        <ng-container matColumnDef="contactParent">
          <th mat-header-cell *matHeaderCellDef> Contact Parent</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="openSendMsgDialogWithParent(element)" class="btn btn-primary">Contact</button>
          </td>
        </ng-container>
      </tr>
      </ng-template >

      <ng-template [ngIf]="stateService.getState().userType!='teacher'">
        <tr>
          <ng-container matColumnDef="teacherName">
            <th mat-header-cell *matHeaderCellDef> Teacher Name</th>
            <td mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef> Course Name</th>
            <td mat-cell *matCellDef="let element"> {{element.course}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="contactTeacher">
            <th mat-header-cell *matHeaderCellDef> Contact Teacher</th>
            <td mat-cell *matCellDef="let element">
              <button (click)="openSendMsgDialogWithTeacher(element)" class="btn btn-primary">Contact</button>
            </td>
          </ng-container>
        </tr>
      </ng-template>

      <!-- Symbol Column -->
      <!--        <tr>-->
      <!--            <ng-container matColumnDef="receiveMessage">-->
      <!--                <th mat-header-cell *matHeaderCellDef> Message Received </th>-->
      <!--                <td mat-cell *matCellDef="let element">-->
      <!--                    <button (click)="openRecievedMsgDialog(element)" class="btn btn-success">recieved message</button>-->
      <!--                </td>-->
      <!--            </ng-container>-->
      <!--        </tr>-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <button>send</button>
    </table>

</div>
