.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: stretch;
    margin-top: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.about>div {
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about img {
    width: 50%;
}

.item {
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}

.item p {
    color: black;
    margin-top: 20px;
}

img {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .about>div {
        width: 100%;
        color: black;
    }
    .about img {
        width: 100%;
    }
}

.about img.logo {
    width: 100px;
    margin: 0;
}