<div class="wrapper">

    <section class="about">
        <div>
            <!-- <img class="logo" src="https://cdn5.vectorstock.com/i/thumb-large/93/19/human-head-icon-with-light-bulb-inside-vector-35569319.jpg" alt=""> -->
            <!-- <h3>welcome</h3> -->
            <p>Lorem ipsum dolor
                <br>sit amet consectetur adipisicing elit. Aut eligendi aliquid alias dicta, eos dolor inventore voluptatum veniam ullam itaque voluptatem deleniti, maiores excepturi officia incidunt natus quidem iure culpa!</p>
            <div></div>
        </div>
        <img src="../../../assets/images/backgrounds/Classroom.gif" alt="">
    </section>

    <section class="container p-0 roles row my-5">

        <div routerLink="teacher-account" class="item-wrapper col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
            <div class="item ">
                <img src="../../../assets/images/backgrounds/teacher.gif " alt=" ">
                <p>teacher account</p>
            </div>
        </div>

        <div routerLink="student-account" class="item-wrapper col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
            <div class="item ">
                <img src="../../../assets/images/backgrounds/student.gif " alt=" ">
                <p>Student account</p>
            </div>
        </div>

        <div routerLink="parent-account" class="item-wrapper col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
            <div class="item ">
                <img src="../../../assets/images/backgrounds/Parents.png " alt=" ">
                <p>parent account</p>
            </div>
        </div>
        <div routerLink="admin-account" class="item-wrapper col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
            <div class="item ">
                <img src="../../../assets/images/backgrounds/Admin.png " alt=" ">
                <p>Admin account</p>
            </div>
        </div>

    </section>
</div>