<div class="wrapper">

    <section class="about">
        <div>
            <img class="logo" src="https://cdn5.vectorstock.com/i/thumb-large/93/19/human-head-icon-with-light-bulb-inside-vector-35569319.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eligendi aliquid alias dicta, eos dolor inventore voluptatum veniam ullam itaque voluptatem deleniti, maiores excepturi officia incidunt natus quidem iure culpa!</p>
            <div></div>
        </div>
        <img src="../../../assets/images/backgrounds/Classroom.gif" alt="">
    </section>

    <section class="roles row my-5">

        <div routerLink="teacher-account" class="item-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="item">
                <img src="../../../assets/images/backgrounds/bg1png.png" alt="">
                <p>teacher account</p>
            </div>
        </div>

        <div routerLink="teacher-account" class="item-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="item">
                <img src="../../../assets/images/backgrounds/bg1png.png" alt="">
                <p>link2</p>
            </div>
        </div>

        <div routerLink="teacher-account" class="item-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="item">
                <img src="../../../assets/images/backgrounds/bg1png.png" alt="">
                <p>link3</p>
            </div>
        </div>

    </section>
</div>