table {
    width: 80%;
    margin: 0 auto;
    background-color: #071426;
    border: 2px solid white;
    border-radius: 20px;
}

.mat-header-cell,
.mat-cell {
    color: white;
}

.mat-cell:nth-child(3) {
    width: 200px !important;
}