<p-toast></p-toast>
<div class="container mt-2 border-2 border-round-3xl">

  <p-table #dt [value]="exams" [paginator]="true" [rows]="5"
           [filterDelay]="0" [globalFilterFields]="['name', 'date','class name']">
    <ng-template pTemplate="caption">
      <div class="table-header d-flex">
        <p class="flex-grow-1 align-self-center"> List of Meetings </p>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterNameGlobal($event, 'contains')"
                 placeholder="filter exam name"/>
            <p-calendar [(ngModel)]="filterDate" dateFormat="yy-mm-dd" [showButtonBar]="true"
                        (onSelect)="applyFilterDateGlobal('equals')"
                        (onClearClick)="clearDateFilter()"
                        [showIcon]="true" inputId="icon"></p-calendar>
      </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="exam.name">
          <div class="flex justify-content-between align-items-center">
            name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter type="text" field="exam.name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="exam.class.name">
          <div class="flex justify-content-between align-items-center">

            class name
            <p-sortIcon field="exam.class.name"></p-sortIcon>
            <p-columnFilter type="text" field="exam.class.name" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="date">
          <div class="flex justify-content-between align-items-center">
            date
            <p-sortIcon field="date"></p-sortIcon>
            <p-columnFilter type="date" field="date" display="menu">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-calendar dateFormat="yy-mm-dd" (onSelect)="filter($event)"></p-calendar>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="count">
          <div class="flex justify-content-between align-items-center">

            Number of submissions
            <p-sortIcon field="count"></p-sortIcon>
            <p-columnFilter type="text" field="count" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="max">
          <div class="flex justify-content-between align-items-center">

            max score
            <p-sortIcon field="max"></p-sortIcon>
            <p-columnFilter type="text" field="max" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="min">
          <div class="flex justify-content-between align-items-center">

            min score
            <p-sortIcon field="min"></p-sortIcon>
            <p-columnFilter type="text" field="min" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <th>
          Details
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{exam.exam.name}}</td>
        <td>{{exam.exam.class.name}}</td>
        <td>{{exam.exam.date}}</td>
        <td>
          {{exam.count}}
        </td>
        <td>
          {{exam.max}}
        </td>
        <td>
          {{exam.min}}
        </td>
        <td>
<!--          <p-button label="Grades" icon="pi pi-primary"></p-button>-->
    <a [routerLink]="'/teacher/students-grades/'+exam.exam.id"> grades </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No Exams found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
