<div class="d-flex flex-column main-hero-box" >
  <div class="d-flex flex-items-xxs-center flex-column">
    <h1 class="text-xxxl my-sm text-center text-normal p-a-0">
      <p>We Are <span class="text-sig-blue text-bold">Schoology</span></p>
    </h1>
    <h3 class="text-sm mb-xxl text-center">
      <p class="h6">Providing the best simple online school approach</p>
    </h3>
  </div>
  <div class="d-flex justify-content-center align-content-center flex-items-lg-left flex-column flex-md-row p-0"
       [style]="{minHeight: '80vh'}">
    <!-- image -->
    <div class="col-12 col-md-6 d-flex flex-items-md-right">
      <div class="img-box">
        <img alt="meeting on top of the world" class="img-fluid animate-width"
             src="assets/images/backgrounds/International-cooperation-bro.png">
      </div>
    </div>
    <!-- text -->
    <div class="col-12 col-md-6 d-flex align-items-start flex-column">
      <div class="text-xs text-box">
        <p class="h5">At Schoology, we want to solve the biggest problem in online schooling:</p> <br/>
        <p class="h6 font-light ms-2">
          Due to the global trend of digitizing education and in the midst of emerging pandemics, a need has arisen for online education and schooling.
        </p>
        <p class="h5" [style]="{color: '#5f7d95'}">
          <strong>Our Goal</strong> <br/>
        </p>
        <p class="h6 font-light">
          1-To simulate the real-school daily interaction between student and teacher in the educational process.
        </p>
        <p class="h6 font-light">
          2-To make the supervision of the child easier and more efficient .
        </p>
        <p class="h6 font-light">
          3-To reduce the wasted days in the event of the need to work from home due to COVID high infection period or any other reason.
        </p>
        <p class="h6 font-light">
          4-To make the process of administration easier and more efficient for the school.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>

  <!-- cards -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
          <section class="pb-0 text-center" id="about-us">
            <h2 class="text-34 text-normal text-black text-center mb-xl">
              <p>Meet Our&nbsp;<strong><span class="text-sig-blue">Team</span></strong></p>
            </h2>
          </section>
        <section class="mt-3 pt-2 pb-0 text-center d-flex justify-content-center align-content-center row flex-wrap">
          <p-card header="Mohammed Ahmed Ismail" [style]="{width: '360px'}" class="col-sm-12 col-lg-4 my-3"
                  styleClass="p-card-shadow">
            <p>
              A leader like no other, visionary Full stack software engineer
            </p>
            <ng-template pTemplate="footer">
              <a class="p-button p-button-sm" pButton href="https://linkedin.com/in/muhammad-ahmed-ismail" target="_blank">
                <i class="me-1 pi pi-linkedin"></i>
                LinkedIn
              </a>

              <a class="p-button p-button-secondary p-button-sm" pButton href="https://github.com/Muhammed-Ahmed-Ismail"
                 target="_blank" [style]="{'margin-left': '.5em'}" >
                <i class="me-1 pi pi-github"></i>
                Github
              </a>
            </ng-template>
          </p-card>
          <p-card header="Abdelrahman Mohammed Saleh" [style]="{width: '360px'}" class="col-sm-12 col-lg-4 my-3"
                  styleClass="p-card-shadow">
            <p>
              Full stack software engineer
            </p>
            <ng-template pTemplate="footer">
                <a class="p-button p-button-sm" pButton href="https://linkedin.com/in/AmSaleh21" target="_blank">
                  <i class="me-1 pi pi-linkedin"></i>
                  LinkedIn
                </a>

                <a class="p-button p-button-secondary p-button-sm" pButton href="https://github.com/AmSaleh21"
                   target="_blank" [style]="{'margin-left': '.5em'}" >
                  <i class="me-1 pi pi-github"></i>
                  Github
                </a>
            </ng-template>
          </p-card>
          <p-card header="Mohamed Emad Eldin Ismail" [style]="{width: '360px'}" class="col-sm-12 col-lg-4 my-2"
                  styleClass="p-card-shadow">
            <p>
              Full stack software engineer
            </p>
            <ng-template pTemplate="footer">
              <a class="p-button p-button-sm" pButton href="https://linkedin.com/in/mohamed-emad-eldin-ismail" target="_blank">
                <i class="me-1 pi pi-linkedin"></i>
                LinkedIn
              </a>

              <a class="p-button p-button-secondary p-button-sm" pButton href="https://github.com/Mohamed-EmadEldin"
                 target="_blank" [style]="{'margin-left': '.5em'}" >
                <i class="me-1 pi pi-github"></i>
                Github
              </a>
            </ng-template>
          </p-card>
          <p-card header="Adham Ahmed Mohamed" [style]="{width: '360px'}" class="col-sm-12 col-lg-4 my-3"
                  styleClass="p-card-shadow">
            <p>
              Full stack software engineer
            </p>
            <ng-template pTemplate="footer">
              <a class="p-button p-button-sm" pButton href="https://linkedin.com/in/adhamahmed" target="_blank">
                <i class="me-1 pi pi-linkedin"></i>
                LinkedIn
              </a>

              <a class="p-button p-button-secondary p-button-sm" pButton href="https://github.com/Adham-Ahmed"
                 target="_blank" [style]="{'margin-left': '.5em'}" >
                <i class="me-1 pi pi-github"></i>
                Github
              </a>
            </ng-template>
          </p-card>
          <p-card header="Radwa Mostafa Hassan" [style]="{width: '360px'}" class="col-sm-12 col-lg-4 my-3"
                  styleClass="p-card-shadow">
            <p>
              Full stack software engineer
            </p>
            <ng-template pTemplate="footer">
              <a class="p-button p-button-sm" pButton href="https://www.linkedin.com/in/radwa-mostafa-hassan/" target="_blank">
                <i class="me-1 pi pi-linkedin"></i>
                LinkedIn
              </a>

              <a class="p-button p-button-secondary p-button-sm" pButton href="https://github.com/radwa-mostafa-hassan"
                 target="_blank" [style]="{'margin-left': '.5em'}" >
                <i class="me-1 pi pi-github"></i>
                Github
              </a>
            </ng-template>
          </p-card>
        </section>
        </div>
      </div>
  </div>
</div>
