.form-container
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:100px
  /*align-items:center;*/
  /*width:50%*/

}

.flex-column
{
  display: flex;
  flex-direction: column;
  gap:25px
}

p-card
{
  /*width:50%;*/
  /*display: flex;*/
  /*justify-content: center;*/
}
