
<div class="container">

  <p-card>
    <div class="d-flex flex-column justify-content-evenly align-items-center">

      <p-password class="mt-2" [(ngModel)]="password" [toggleMask]="true" [showClear]="true"
                  placeholder="password" required>
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <p-password class="mt-2" [(ngModel)]="confirmPassword" placeholder="confirm password" [showClear]="true"
                  [feedback]="false" [toggleMask]="true" required></p-password>
      <p-message severity="error" text="passwords don't match" *ngIf="!passwordMatch && invalid"></p-message>
      <p-message severity="error" text="password can't be empty"
                 *ngIf="confirmPassword === '' && invalid"></p-message>

    </div>
    <button type="submit" pButton label="reset password" (click)="handelSubmit()"></button>

  </p-card>

</div>
