<div class="container">
  <p-card>
    <form class="form-container" #form="ngForm"  >
      <!--      <form class="form-container">-->
      <div class="left-inputs flex-column">
        <input type="text" pInputText  placeholder="Link" name="link"
               [(ngModel)]="exam.link" #link="ngModel" required />
        <p-message severity="error" text="invalid link" *ngIf="link.invalid && (form.submitted)"></p-message>
        <input type="text" pInputText [(ngModel)]="exam.name" placeholder="Quiz Title" name="name" #name = "ngModel" required />
        <p-message severity="error" text="invalid name" *ngIf="name.invalid && (form.submitted)"></p-message>
        <button type="submit" pButton label="create Quiz" (click)="handelSubmit(form)"></button>

      </div>
      <div class="right-inputs flex-column">
        <p-dropdown [options]="classes" [(ngModel)]="exam.classId" optionLabel="name" optionValue="code"
                    placeholder="class" name="classId"  #classId="ngModel" [required]="true" ></p-dropdown>
        <p-message severity="error" text="please select class" *ngIf="classId.value==0 && (form.submitted)"></p-message>

        <p-calendar [(ngModel)]="exam.date" placeholder="date" name="date"  #date="ngModel" [required]="true" [minDate]="minDate"></p-calendar>
        <p-message severity="error" text="please select valid date" *ngIf="date.invalid && (form.submitted)"></p-message>


      </div>

    </form>
  </p-card>

</div>

